version: "2"
region: "us"
tunnels:
  frontend:
    #addr: localhost:9000
    addr: frontend.prod.s3-file-browser-ngrok.local:3000
    labels:
      - edge=YOUR_FRONTEND_EDGE_ID
  backend:
    #addr: localhost:3000
    addr: backend.prod.s3-file-browser-ngrok.local:3000
    labels:
      - edge=YOUR_BACKEND_EDGE_ID
